@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.main {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgba(102, 102, 102, 1);
}

.header__burger-button {
  display: none;
}


@media screen and (min-width: 900px) and (max-width: 1300px) {
  .header__burger-button {
    padding: 0;
    display: block;
    background-image: url('./images/Vector (6).svg');
    width: 26px;
    height: 17.5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
}

.header__list-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.header__location-container {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(206, 206, 206, 1);
  border-bottom: 1px solid rgba(206, 206, 206, 1);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}


.header__logo {}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .header__logo {
    margin-right: 375px;
  }
}

.header__list {
  height: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 32px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 240px;
  margin-right: 56px;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .header__list {
    display: none;
  }
}

.header__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}

.header__button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 204px;
  height: 40px;
  background-color: rgba(11, 69, 127, 1);
  color: rgba(251, 251, 251, 1);
  border-radius: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .header__button {
    padding: 0;
    margin-right: 32px;
    width: 199px;
  }
}

.header__button:hover {
  background-color: rgba(0, 108, 216, 1);
}

.location {
  display: flex;
  flex-direction: row;
  margin-right: 32px;
}

.route {
  display: flex;
  flex-direction: row;
}

.time {
  margin-left: 698px;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .time {
    margin-left: 251px;
  }
}

.paragraph {
  margin: 0;
  padding: 0;
}

.icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.content {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
}

.frames {
  display: grid;
  grid-template-columns: 424px 424px 424px;
  grid-template-rows: 250px 250px;
  grid-gap: 12px;
}

.content__frame:nth-child(1),
.content__frame:nth-child(3) {
  grid-row: span 2;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .frames {
    grid-template-columns: repeat(2, 420px);
    grid-template-rows: repeat(2, 233px);
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {

  .content__frame:nth-child(1),
  .content__frame:nth-child(3) {
    grid-row: auto;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .content__frame:nth-child(3) {
    order: 4;
  }

  .content__frame:nth-child(4) {
    order: 3;
  }
}



.content__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  color: black;
  margin-top: 56px;
  margin-bottom: 32px;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .content__title {
    max-width: 603px;
  }
}

.content__frame {
  background-image: url(./images/Rectangle\ 615.svg);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.frame-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  margin-bottom: 12px;
  max-width: 272px;
}

.frame-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-left: 32px;
  margin-bottom: 32px;
  margin-right: 32px;
  max-width: 323px;
}

.frame-text.reservation {
  max-width: 296px;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .frame-text.reservation  {
   max-width: 300px;
  }
}

.frame-image {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 100;
}

.content__frame img.frame-image[src='./images/imagebg.svg'],
.content__frame img.frame-image[src='./images/Mockup 1.svg'] {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .frame-image {
    width: 217px;
    height: 93px;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .content__frame img.frame-image[src='./images/Mockup 1.svg'] {
    right: -31px;
    bottom: -2px;
    width: 217px;
    height: 101px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .content__frame img.frame-image[src='./images/Bgimg.svg'] {
    right: 4px;
    bottom: -9px;
    width: 221px;
    height: 103px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .content__frame img.frame-image[src='./images/MERCEDES 1.svg'] {
    right: -1px;
    bottom: -4px;
    width: 214px;
    height: 100px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .content__frame img.frame-image[src='./images/imagebg.svg'] {
    right: 24px;
    bottom: 0px;
    width: 208px;
    height: 92px;
  }
}

.frame-button {
  position: relative;
  z-index: 9999;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 16.94px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  color: inherit;
  padding: 14px 28px;
  margin-left: 32px;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .frame-button  {
    padding: 0;
    width: 148px; 
    height: 45px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .reserv {
    margin-top: 21px;
  }
}

.frame-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}


.frame-vector {
  position: absolute;
  bottom: 0px;
  right: 58px;
}

.frame-vector-container {
  position: absolute;
}

.vector-elipse {
  position: absolute;
  bottom: -310px;
  right: -288px;
}

.vector-search {
  position: absolute;
  bottom: -274px;
  right: -193px;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .frame-vector,
  .vector-elipse,
  .vector-search {
    display: none;
  }
}